<div class="container-fluid mt-5 rounded shadow-sm" style="background-color: rgb(238, 238, 238);">
  <div class="img-container pt-3">
    <img class="m-1 shadow-sm" *ngFor="let img of shopsImages" [src]='img' alt="Random Shops Images" />
  </div>
  <div class="pt-4 pb-4">
    <h1 class="display-4 text-center">
      <i class="fab fa-periscope mr-3"></i>Welcome to Perishop
    </h1>

    <h2 class="text-center font-weight-light mt-4">
      300+ Shops
      <i class="fas fa-shopping-bag ml-2"></i>
    </h2>

    <h4 class="font-weight-light text-center">
      Find out nearby ones to visit, like or dislike !
    </h4>
  </div>


  <div class="text-center pb-3">
    <button class="btn-lg btn-primary m-2 pl-4 pr-4">Log In</button>
    <span class="h3 font-weight-light m-2">/</span>
    <button class="btn-lg btn-success m-2 pl-4 pr-4">Sign Up</button>
  </div>
</div>