<div class="container">
  <label class="m-2 h5" for="radius"><i class="fas fa-search mr-2"></i>Search by radius :</label>
  <select class="m-2" [(ngModel)]="radius" name="radius" id="radius">
    <option value="1">1 Km</option>
    <option value="2">2 Km</option>
    <option value="5">5 Km (default)</option>
    <option value="10">10 Km</option>
    <option value="20">20 Km</option>
    <option value="100">100 Km</option>
  </select>
  <button (click)="getShops()" class="btn btn-info m-2 pl-4 pr-4">Search</button>
</div>

<div *ngIf="numberOfShops != 0" class="container card-container d-flex flex-row flex-wrap">
  <div *ngFor="let shop of nearbyShops.nearbyShops" class="card shadow m-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ shop.picture }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><i class="fab fa-shopware mr-3"></i>{{ shop.name }}</h5>
      <p class="card-text ml-3"><i class="fas fa-building mr-3 mt-3"></i>{{ shop.city }}</p>
      <p class="card-text ml-3"><i class="fas fa-road mr-3"></i>Distance Away: {{ shop.distanceAway }} Km</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item ml-3"><i class="fas fa-at mr-3"></i>{{ shop.email }}</li>
    </ul>
    <div class="card-body d-flex flex-row justify-content-center">

      <div class="d-flex flex-row align-items-center justify-content-start mr-2">
        <i class="fas fa-heart m-2 icon text-primary"></i>
        <button (click)="onLikeShop(shop)" class="btn btn-primary m-2">Like</button>
      </div>
      <div class="d-flex flex-row align-items-center">
        <span class="h2">|</span>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-end ml-2">
        <i class="fas fa-thumbs-down m-2 icon text-danger"></i><button (click)="onDislikeShop(shop)" class="btn btn-danger m-2">Dislike</button>
      </div>
    </div>
  </div>
</div>