<div class="container">
  <label class="mr-2" for="radius"><i class="fas fa-search mr-2"></i>Search by radius:</label>
  <select [(ngModel)]="radius" name="radius" id="radius">
    <option value="1">1 Km</option>
    <option value="2">2 Km</option>
    <option value="5">5 Km (default)</option>
    <option value="10">10 Km</option>
    <option value="20">20 Km</option>
  </select>
</div>

<div *ngIf = "nearbyShops" class="container card-container d-flex flex-row flex-wrap">
  <div *ngFor="let shop of nearbyShops" class="card shadow m-4" style="width: 18rem;">
    <img class="card-img-top" src="{{ shop.picture }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ shop.name }}</h5>
      <p class="card-text">{{ shop.city }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ shop.email }}</li>
    </ul>
    <div class="card-body d-flex flex-row justify-content-end">
      <div>
        <img (click)="unDislikeShop(shop)" class="icon" src="../../../assets/thumbs-down-dark.svg" alt="thumbs down" />

        <img (click)="dislikeShop(shop)" class="icon" src="../../../assets/thumbs-down-regular.svg" alt="thumbs down" />
      </div>

      <div>
        <img (click)="likeShop(shop)" class="icon" src="../../../assets/heart-regular.svg" alt="heart-shaped like" />

        <img (click)="unlikeShop(shop)" class="icon" src="../../../assets/heart-liked.svg" alt="heart-shaped like" />
      </div>
    </div>
  </div>

</div>